.admin-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.admin-footer:first-child{
    font-weight: bold;
}

.admin-footer:last-child{
    font-size: 14px;
}